@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family:"puppins",sans-serif;
}